extends layout

block content
  h1= title
  p Welcome to #{title}
  if currentUser
    h2 Welcome, #{currentUser.username}
  else
    form(action="/login" method="post")
      label(for="username") Username: 
      input(type="text", name="username" id="username" required)
      label(for="password") Password: 
      input(type="password", name="password" id="password")
      button(type="submit") Log In  
      if error
        p #{error}
      br
      p No Account? 
        a(href="/sign-up") Sign Up 
